.dark {
    --color-primary: hsl(240, 50%, 10%);
    --color-secondary: hsl(240, 50%, 90%);
    --color-tertiary: hsl(300, 80%, 80%);
    --color-accent: hsl(180, 80%, 80%);
}

* {
    margin: 0;
    padding: 0;

    transition: 0.3s ease;
}

.column {
    float: left;
    height: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.between {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

a {
    transition: 0.2s;

    padding: 0.5rem;
    text-decoration: none;

    color: hsl(0, 0%, 100%);
}

a:hover {
    color: hsl(0, 0%, 80%);
}