.contact {
    margin-top: 0;

    width: 100%;
    box-sizing: border-box;
    height: auto;

    padding: 2rem;

    margin-bottom: 100px;
}

.contact img {
    transition: 0.2s ease;

    height: 2.5rem;
    padding: 0.5rem;

    filter: brightness(0) invert(1);
    opacity: 0.5;
}

.contact a {
    font-size: 1.25rem;
    padding: 1rem;
    
    color: hsl(0, 0%, 80%);

    text-decoration: underline;
    text-decoration-color: hsl(0, 0%, 5%);
}

.contact a:hover {
    text-decoration-color: hsl(0, 0%, 90%);
    scale: 1.1;
}

.a-email:hover .email,
.a-discord:hover .discord {
    filter: unset;
    opacity: 1;
}


@media (max-aspect-ratio: 1.375) {
    .contact {
        flex-direction: column;
    }
}