.about {
    margin-top: 50px;

    background-color: hsl(0, 0%, 10%);

    width: 100%;
    box-sizing: border-box;
    height: auto;

    border-radius: 1rem;
    border: 1px solid hsla(0, 0%, 20%);

    padding: 2rem;

    margin-bottom: 100px;
}

.description {
    width: 100%;
    padding: 2rem;

    width: 100%;
}

.description ul {
    margin-left: 22px;
}

.description ul li {
    font-size: 1rem;
    color: hsl(0, 0%, 75%);
    padding: 0.25rem;
}


.description h2 {
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
}

.location {
    color: hsl(0, 0%, 70%);

    font-size: 1rem;
    font-weight: lighter;

    cursor: pointer;
}

.location:hover {
    text-decoration: underline;
}

.location img {
    height: 1rem;
    padding-left: 0.5rem;
    opacity: 0.665;
}

.photo {
    background-color: hsl(0, 0%, 20%);
    
    max-width: 250px;
    width: 100%;
    aspect-ratio: 1;

    border-radius: 50%;
}

@media (max-aspect-ratio: 1.375) {
    .about {
        flex-direction: column;
    }

    .title {
        flex-direction: column;
    }

    h1 {
        text-align: center;
        width: 100%;
    }
}