html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 5%);

    color: hsl(0, 0%, 100%);

    font-size: 1rem;
    scroll-behavior: smooth;
}

body {
    width: 90%;
    max-width: 950px;
    margin: 0 auto;
}