nav {
    transition: 0.2s;

    position: fixed;
    display: flex;

    background-color: hsla(0, 0%, 10%, 0.5);
    backdrop-filter: blur(5px);

    padding: 0.75rem 2rem;
    border-radius: 0.5rem;
    border: 1px solid hsla(0, 0%, 20%);

    top: 2rem;
    left: 0rem;
    transform: translateX(-50%);
    margin-left: 50%;

    z-index: 100;
}

nav a:hover {
    padding: 0.5rem 1rem;
}

nav:has(a:hover) {
    padding: 0.75rem 1.5rem;
}