.skills {
    margin-top: 50px;

    width: 100%;
    justify-content: space-between;

    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;

    margin-bottom: 50px;
}

.skills img {
    height: 5rem;
}

.skills div {
    position: relative;
    display: inline-block;

    margin-left: 1rem;
    margin-right: 1rem;
}

.tooltip {
    position: absolute;

    bottom: 125%;
    left: 50%;

    transform: translateX(-50%);
    padding: 5px 10px;
    background: rgba(0, 0, 0, 0.8);
    
    color: #fff;
    font-size: 12px;

    border-radius: 4px;
    white-space: nowrap;

    opacity: 0;
    pointer-events: none;
}

.skills div:hover .tooltip {
    opacity: 1;
}

.skills div:hover img {
    filter: drop-shadow(0px 0px 10px hsl(0, 0%, 100%, 25%));
}