.work {
    margin-top: 50px;

    display: flex;
    flex-wrap: wrap;

    gap: 50px;
    
    margin-bottom: 100px;
}

/* CARD */

.card {
    border-radius: 20px;

    width: 100%;
    max-width: 450px;

    height: 375px;

    flex-direction: column;

    background-color: hsl(0, 0%, 10%);
}

/* IMAGE */

.card img {
    background-color: hsl(0, 0%, 20%);
    height: 150px;
    width: 100%;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* DESCRIPTION */

.card-description {
    padding: 1rem 2rem;
}

.card-description p {
    color: hsl(0, 0%, 75%);
}

.card .buttons {
    padding: 1rem 2rem;
    height: 3rem;

    gap: 1rem;
}

.card .buttons a {
    transition: 0.3s;

    font-size: 1rem;
    color: hsl(0, 0%, 60%);

    background-color: hsl(0, 0%, 7.5%);
    border: 1px solid hsla(0, 0%, 20%);

    padding: 1rem;
    border-radius: 1rem;
}

.card .buttons a:hover {
    background-color: hsl(0, 0%, 10%);
}

.card .buttons a .arrow {
    height: 0.75rem;
    width: 0.75rem;

    padding: 0rem 0.5rem;

    border-radius: 0;
    background-color: transparent;
    opacity: 0.555;
}